<div id="contract_form">
         <div class="field">
        <%= f.label 'INTRANET' %>
        <%= image_tag 'directvLogo.jpg', :size => "150x100",
    :alt => "Multisat Digital" %>
      </div>
      <div class="field">
        <%= f.label 'Usuario' %><br />
        <%= f.text_field :user, :maxlength => 18, :autofocus => true %>
      </div>
      <div class="field">
        <%= f.label 'Contraseña' %><br />
        <%= f.password_field :password, :maxlength => 18 %>
      </div>

      <div class="field">
        <span><%= f.submit "Ingresar" %></span>
      </div>
    <% end %>
  </div>
