
  <%= form_for @auth_user, :url => update_password_user_path(@auth_user) do |f| %>
  <%= f.error_messages %>
  
    <h4>Ingrese su nueva contraseña</h4>
    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, :maxlength => 60 %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, :maxlength => 60 %>
    </div>
     
    <div class="actions">
      <span><%= f.submit "Modificar" %></span>
    </div>
  <% end %>
</div>

<div id="links">
  <%= link_to_back %>
</div>