<table>
  <tr>
    <th><%= User.human_attribute_name 'name' %></th>
    <th><%= User.human_attribute_name 'user' %></th>
    <th><%= User.human_attribute_name 'admin' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= user.name %></td>
    <td><%= user.user %></td>
    <td><%= user.admin ? 'Si' : 'No' %></td>
    <td><%= link_to 'Ver', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td class="delete"><%= button_to 'Eliminar', user, :confirm => '¿Estás seguro?',
      :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="links">
  <%= link_to 'Nuevo Usuario', new_user_path, :class => :important_action %>
</div>