<div id="login_container">
  <div id="contact">
    <div id="dtv_logo">
      <%= image_tag 'directvLogo.jpg', :size => '230x180', :alt => 'Directv logo' %>
    </div>
    <div id="contract_now">
      <%= link_to 'Contrátalo ahora', new_contract_path %>
    </div>
    <div id="phone">
      <%= image_tag 'consultas.png', :size => '200x30', :alt => 'Consultas al 4225341' %>
    </div>
  </div>

  <div id="login">
    <%= form_for @user, :url => create_session_users_path do |f| %>

      <div class="field">
        <%= f.label 'INTRANET' %>
        <%= image_tag 'MultiSAT.JPG', :size => "150x35",
    :alt => "Bienvenido a Multisat Digital" %>
      </div>
      <div class="field">
        <%= f.label 'Usuario' %><br />
        <%= f.text_field :user, :maxlength => 18, :autofocus => true %>
      </div>
      <div class="field">
        <%= f.label 'Contraseña' %><br />
        <%= f.password_field :password, :maxlength => 18 %>
      </div>

      <div class="field">
        <span><%= f.submit "Ingresar" %></span>
      </div>
    <% end %>
  </div>
</div>