<% controller = controller_name.to_sym %>

<ul id="main_menu">
  <li><%= link_to "Contactos", contacts_path,
    :class => "real #{:selected if controller == :contacts}" %></li>
  <li><%= link_to "Usuarios", users_path,
    :class => "real #{:selected if controller == :users}" %></li>
  <li><%= link_to "Campañas", campaigns_path,
    :class => "real #{:selected if controller == :campaigns}" %></li>
  <li><%= link_to "Estados", contact_states_path,
    :class => "real #{:selected if controller == :contact_states}" %></li>
</ul>

<div id="user_info">
  <div id="user">
    <%= @auth_user.user%>
  </div>
  <%= link_to "Modificar contraseña",
    edit_password_user_path(@auth_user), :class => :real %> |
  <%= link_to "Cerrar Sesión", logout_user_path(@auth_user),
    :class => :real %>
</div>
