<div id="load_contact">
<%= form_for @contact, :url => {:controller => :contacts, 
  :action => :update_state, :id => @contact.id} do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>El Contacto no se pudo guardar por los siguientes errores:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Fecha' %><br />
    <%= f.text_field :date, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label 'Número' %><br />
    <%= f.number_field :number, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label 'Localidad' %><br />
    <%= f.text_field :locality, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label 'Estado' %><br />
    <div id ="state_select">
      <%= f.collection_select :contact_state_id, ContactState.all, :id, 
          :state, :prompt => 'Seleccione el estado' %>
    </div>
  </div>
  <div class="comment" style ="display: none;">
    <%= f.label 'Comentario' %><br />
    <%= f.text_area :comment, :size => '35x5' %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Actualizar Contacto' %>
  </div>
<% end %>
</div>