<table>
  <tr>
    <th><%= Contact.human_attribute_name 'date' %></th>
    <th><%= Contact.human_attribute_name 'name' %></th>
    <th><%= Contact.human_attribute_name 'number' %></th>
    <th><%= Contact.human_attribute_name 'locality' %></th>
    <th><%= form_tag contacts_path, :method => 'get' do %>
    <%= select_tag :state_id, 
        options_from_collection_for_select(ContactState.all, "id", "state"), 
      :prompt => 'TODOS LOS ESTADOS' %>
        <%= submit_tag '->' %>
    <% end %>
    </th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= contact.date %></td>
    <td><%= contact.name %></td>
    <td><%= contact.number %></td>
    <td><%= contact.locality %></td>
    <td><%= contact.contact_state.state if contact.contact_state.present? %></td>
    <td><%= contact.user.name if contact.user.present? %></td>
    <td><%= link_to 'Ver', contact %></td>
    <td><%= link_to 'Editar', edit_contact_path(contact) %></td>
    <td class="delete"><%= button_to 'Eliminar', contact, 
      :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="links">
  <%= will_paginate @contacts %>
  <% if @auth_user.admin? %>
  <%= link_to 'Nuevo Contacto', new_contact_path, :class => :important_action %> | 
  <%= link_to 'Importar Contactos CSV', import_csv_contacts_path, 
    :class => :important_action %><br />
  <%= link_to 'Exportar a PDF', contacts_path(:state_id => session[:state],:format => :pdf),
    :class => :important_action %><br />
  <% end %>
  <%= link_to 'Cargar Estados', load_contacts_contacts_path,
    :class => :important_action %>  
</div>
