<h4>Listado de Contactos</h4>

<table>
  <tr>
    <th>Fecha</th>
    <th>Nombre</th>
    <th>Número</th>
    <th>Localidad</th>
    <th>Estado</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= contact.date %></td>
    <td><%= contact.name %></td>
    <td><%= contact.number %></td>
    <td><%= contact.locality %></td>
    <td><%= contact.contact_state.state if contact.contact_state.present? %></td>
    <td><%= contact.user.name if contact.user.present? %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td class="delete"><%= button_to 'Destroy', contact, :confirm => '¿Estás seguro?',
      :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="links">
  <%= link_to 'New Contact', new_contact_path, :class => :important_action %> | 
  <%= link_to 'Importar Contactos CSV', import_csv_contacts_path, :class => :important_action %>
</div>