<div id="select_campaign">
  <% unless @contact.nil?  %>
    <%= render :partial => 'contact' %>
  <% end %>

  <%= form_tag load_contacts_contacts_path, :method => 'get' do %>

    <div class="field">
      <%= label_tag 'Seleccione la campaña' %><br />
      <%= select_tag :campaign_month, options_for_select(@months, @selected_month) %>
      <%= select_tag :campaign_year, options_for_select(@years, @selected_year) %>
    </div>
    <div id="search_contact">
      <%= submit_tag 'Buscar Contacto' %>
    </div>
  <% end %>
 
  <div id="links">
    <%= link_to 'Volver', contacts_path %>
  </div>  
</div>


