<p>
  <b><%= Contact.human_attribute_name 'date' %>:</b>
  <%= @contact.date %>
</p>

<% if @contact.modification_date.present? %>
<p>
  <b><%= Contact.human_attribute_name 'modification_date' %>:</b>
  <%= @contact.modification_date %>
</p>
<% end %>

<p>
  <b><%= Contact.human_attribute_name 'name' %>:</b>
  <%= @contact.name %>
</p>

<p>
  <b><%= Contact.human_attribute_name 'number' %>:</b>
  <%= @contact.number %>
</p>

<p>
  <b><%= Contact.human_attribute_name 'locality' %>:</b>
  <%= @contact.locality %>
</p>

<% if @contact.contact_state.present? %>
<p>
  <b><%= ContactState.human_attribute_name 'state' %>:</b>
  <%= @contact.contact_state.state %>
</p>
<% end %>

<% if @contact.comment.present? %>
<p>
  <b><%= Contact.human_attribute_name 'comment' %>:</b>
  <%= @contact.comment %>
</p>
<% end %>

<% if @contact.user.present? %>
<p>
  <b><%= User.human_attribute_name 'user' %>:</b>
  <%= @contact.user.name %>
</p>
<% end %>

<%= link_to 'Editar', edit_contact_path(@contact) %> |
<%= link_to 'Volver', contacts_path %>
