<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2>La campaña no se pudo guardar por los siguientes errores:</h2>
      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :id => 'campaign_picker' %> 
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
