<p>
  <b><%= Campaign.human_attribute_name 'month' %>:</b>
  <%= @campaign.month %>
</p>

<p>
  <b><%= Campaign.human_attribute_name 'year' %>:</b>
  <%= @campaign.year %>
</p>


<%= link_to 'Editar', edit_campaign_path(@campaign) %> |
<%= link_to 'Volver', campaigns_path %>
