<table>
  <tr>
    <th><%= ContactState.human_attribute_name 'state' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_states.each do |contact_state| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= contact_state.state %></td>
    <td><%= link_to 'Ver', contact_state %></td>
    <td><%= link_to 'Editar', edit_contact_state_path(contact_state) %></td>
    <td class="delete"><%= button_to 'Eliminar', contact_state, 
      :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="links">
  <%= link_to 'Nuevo Estado', new_contact_state_path, :class => :important_action %>
</div>